
<div class="center hero-unit">
  <h1>Welcome to First App</h1><br/>

  <p>
  	<%= link_to "Sign up now!", "/signup", class: "btn btn-large btn-primary btn-fixed-size" %>
  </p>
  <p>
  	<%= link_to "Go to Blog", "posts", class: "btn btn-large btn-primary btn-fixed-size" %>
  </p>

</div>